:root {
    --white-color: white;
    --gold-color: #b99329;
    --black-color: black;
    --gray-color: #d3d3d3;
    --dark-gray-color: #aaaaaa;
    --blue-color: #405caa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 16px;
    color: var(--white-color);
}

body::-webkit-scrollbar { 
    display: none;
}

img {
    height: 20px;
    width: 20px;
}

#topbar {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px;
    background-color: var(--blue-color);
}

#logo {
    height: 100px;
    width: 100px;
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    background-color: var(--gray-color);
    color: var(--black-color);
}

#default-projects {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 6px;
    text-align: left;
    font-size: 18px;
}

.project:hover {
    background-color: var(--dark-gray-color);
    border-radius: 6px;
}

#header-text {
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 36px;
}

#user-projects {
    display: flex;
    flex-direction: column;
}

.user-project {
    margin: 5px 0;
}

#projects {
    background-color: var(--white-color);
}